body{

	background-image: url('spaceBackground.jpg');
}
.head {
	font-family: sans-serif;
	text-align: center;
	padding-right: 10px;
	font-size: 50px;
	color: white;

}

.dropdown {
  
}

.heading {
	font-size: 30px;
}

#options{
	margin: auto;
	width: 17.5%;
	padding-top: 50px;
}

#left {
	
}

#right {
	
}

.box{
  margin: 25px auto;
  width: 500px;
  height: 50px;
  border-radius: 6px;
  vertical-align: 50%;
}


input[type=text]:focus {
    width: 700px;
}
/*#bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%
    background-color: white;
}
#top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50%
	background-color: #FF5050;
}*/

#msform {
  width: 700px;
  height:500px;
  margin: 60px auto;
  text-align: center;
  position: relative;
  font-family: 'Raleway', arial, verdana;
  margin-bottom:85px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  width: 80%;
  margin: 0 10%;
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway';
  color: #2C3E50;
  font-size: 20px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #192E76;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 20px;
  color: #666666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  width: 25%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 18px;
  color: whitesmoke;
  background: gray;
  border-radius: 5px;
  margin: 0 auto 10px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: gray;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}

.errormessages {
    color:red;
}

@media (max-width: 500px){
  #footerwords
  {
    font-weight:300;
    font-size:4.vw;
  }
}