
.header{
  font-color: white;
  position:absolute;
  top:0;
  background-color: #3333cc;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
  font-weight: 45px;
}


#msform {
  width: 700px;
  height:300px;
  margin: 30px auto;
  position: absolute;
  bottom: 20%;
  font-family: 'Raleway', arial, verdana;
  margin-bottom:0px;
}


#msform fieldset {
  background: #3333cc;
  border: 3px, white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  width: 80%;
  margin: 0 10%;
  position: absolute;
  border-radius: 12px;

}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway';
  color: #2C3E50;
  font-size: 20px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 20px;
  color: #666666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  width: 25%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 18px;
  color: white;
  background: gray;
  border-radius: 5px;
  margin: 0 auto 10px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: gray;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #3333cc;
  color: white;
}

.errormessages {
    color:red;
}

@media (max-width: 500px){
  #footerwords
  {
    font-weight:300;
    font-size:4.vw;
  }
}

ul{
  color:white;
  font-size: 20px;
}

ul li {
  margin-bottom: 15px;
  margin-top: 10px;
}

.description {
  margin-bottom: 10px;
}
.cost {
  margin-bottom: 50px;
  margin-top: 10px;
  border-color: green;
  color:white;
}

