<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
	</script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtapG46SfKsgGbZ-ChRlMFCxI6vgwcJRM">
    </script>

    <!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!--Stylesheets-->
	<link rel="stylesheet" href="./static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="./static/css/design.css"> <!-- Resource style -->
	<link rel="stylesheet" type="text/css" href="./static/demo.css">
<!-- 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

	<title>Plan-It</title>

    <link rel="icon" href="img/favico.png"></link>
</head>

<body background="C:\Users\Rohit\Desktop\main\galaxyBackground.jpg">
	<h1 class="header">page2</h1>

		<!-- About Section -->
    <section id="about">
        <div class="container" style = "margin-bottom: 50px">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Leadership and Competitive Excellence Conference (LACE)</h4>
                                    <h4 class="subheading">Date TBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A non-competitive conference, LACE hosts multiple speaker events and workshops to allow DECA members to improve their business skills, both in the real world and in the DECA sphere.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Silicon Valley Career Development Conference (SVCDC)</h4>
                                    <h4 class="subheading">Date TBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is it: the first competitive conference of the year. Students put their past few months of effort to the test and compete against everyone else in the district. <b>Performance at this conference does NOT affect eligibility to attend the State Conference.</b></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>State Career Development Conference (SCDC)</h4>
                                    <h4 class="subheading">Date TBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With the judge's feedback from the last conference, students fix their mistakes and head to another round of competitions, this time against the entire state of California. Winners here will then head to the International Conference.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>International Career Development Conference (ICDC)</h4>
                                    <h4 class="subheading">Date TBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Those who make it here battle it out against the best competitors of each state and country to determine the world champions. But at the same time, they get to have their fair share of fun adventures and memorable times with the rest of the chapter.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Become A
                                    <br>Part Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

	


</body>
<footer>
<script type="text/javascript" src="./static/js/jquery.js" ></script>

    <!--Script-->
	<script type="text/javascript" src="./static/js/modernizr.js"></script>
  	<script type="text/javascript" src="./static/tester.js"></script> <!-- Modernizr -->

</footer>
</html>
