<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
	</script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtapG46SfKsgGbZ-ChRlMFCxI6vgwcJRM">
    </script>

    <!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!--Stylesheets-->
	<link rel="stylesheet" href="./static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="./static/css/design.css"> <!-- Resource style -->
	<link rel="stylesheet" type="text/css" href="./static/demo.css">
<!-- 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

	<title>Plan-It</title>

    <link rel="icon" href="img/favico.png"></link>
</head>

<body background="C:\Users\Rohit\Desktop\main\galaxyBackground.jpg">
	<h1 class="header">Plan-It: Plan Your Day, Your Way</h1>

	<main class="main-content" >
<!-- 
		<form id="msform" style = "width: 100%"> -->

			<!-- fieldsets -->
			<!-- <fieldset>
				<h2 class="fs-title">Personal Information</h2>
				<h3 class="fs-subtitle"></h3>
				<div id="wynmistakes" class="errormessages"></div>
				<input type="text" name="zipcode" placeholder="Enter Zip Code!" id="zc"/>
				<input style = "color: #3333cc; background-color: white"type="button" name="next" onclick="getZip()" class="next1 action-button" value="Next" />

			</fieldset>

		</form> -->

	<form id="msform" style = "width: 100%" method="post" action="/">
        <fieldset>
        	<h2 class="fs-title">Personal Information</h2>
			<h3 class="fs-subtitle"></h3>
          <input class="form-control" rows="1" id="textbox" name="zipcode" placeholder="Cell Carrier"></input>
        	<button type="submit"  style = "color: #3333cc; background-color: white" class="btn btn-submit" id="send" style="margin-bottom: 15px">Send</button>
        </fieldset>
      </form>

		<script>
			var current_fs, next_fs, previous_fs; //fieldsets
			var left, opacity, scale; //fieldset properties which we will animate
			var animating; //flag to prevent quick multi-click glitches
			// var fnameok=true;
			// var lnameok=true;
			// var cellok=true;
			// var gradeok=true;
			// var yearindecaok=true;
			// var emailok=true;
			// var passwordsmatch=true;
			// var clubpasswordok=true;
			// var clubpassword="epicdiamonds"
			var error1="";
			var error2="";
			var error3="";
			var error4="";
			// var fname = $('#fname').val();
			// var lname = $('#lname').val();
			// var zipcode = $('#zipcode').val();
			// var zipcode = $('#age').val();
			// var activities = $('#activities').val();
			// var budget = $('#budget').val();
			// var hours = $('#hours').val();
			$(".next1").click(function(event){
				var error1="";
				fnameok=true;
				lnameok=true;
				$("#wynmistakes").html(error1);
				if ($("#fname").val()!="")
				{
					fnameok=true;
				} else {
					error1+="Please enter your first name.<br>";
				}
				if ($("#lname").val()!="")
				{
					lnameok=true;
				} else {
					error1+="Please enter your last name.<br>";
				}
				if (fnameok && lnameok) {
					if(animating) return false;
					animating = true;
					current_fs = $(this).parent();
					next_fs = $(this).parent().next();

					//activate next step on progressbar using the index of next_fs
					$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

					//show the next fieldset
					next_fs.show();
					//hide the current fieldset with style
					current_fs.animate({opacity: 0}, {
						step: function(now, mx) {
							//as the opacity of current_fs reduces to 0 - stored in "now"
							//1. scale current_fs down to 80%
							scale = 1 - (1 - now) * 0.2;
							//2. bring next_fs from the right(50%)
							left = (now * 50)+"%";
							//3. increase opacity of next_fs to 1 as it moves in
							opacity = 1 - now;
							current_fs.css({'transform': 'scale('+scale+')'});
							next_fs.css({'left': left, 'opacity': opacity});
						},
						duration: 800,
						complete: function(){
							current_fs.hide();
							animating = false;
						},
						//this comes from the custom easing plugin
						easing: 'easeInOutBack'
					});
				} else {
					error1+="<br>";
					$("#wynmistakes").html(error1);
				}
			});
			$(".next2").click(function(){
				error2="";




				cellok = true;
				gradeok = true;
				yearindecaok = true;
				tshirtok = true;
				if (cellok && gradeok && yearindecaok && tshirtok) {
					if(animating) return false;
					animating = true;
					current_fs = $(this).parent();
					next_fs = $(this).parent().next();

					//activate next step on progressbar using the index of next_fs
					$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

					//show the next fieldset
					next_fs.show();
					//hide the current fieldset with style
					current_fs.animate({opacity: 0}, {
						step: function(now, mx) {
							//as the opacity of current_fs reduces to 0 - stored in "now"
							//1. scale current_fs down to 80%
							scale = 1 - (1 - now) * 0.2;
							//2. bring next_fs from the right(50%)
							left = (now * 50)+"%";
							//3. increase opacity of next_fs to 1 as it moves in
							opacity = 1 - now;
							current_fs.css({'transform': 'scale('+scale+')'});
							next_fs.css({'left': left, 'opacity': opacity});
						},
						duration: 800,
						complete: function(){
							current_fs.hide();
							animating = false;
						},
						//this comes from the custom easing plugin
						easing: 'easeInOutBack'
					});
				} else {
					error2+="<br>";
					$("#pimistakes").html(error2);
				}
			});

			$(".previous").click(function(){
				if(animating) return false;
				animating = true;

				current_fs = $(this).parent();
				previous_fs = $(this).parent().prev();

				//de-activate current step on progressbar
				$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

				//show the previous fieldset
				previous_fs.show();
				//hide the current fieldset with style
				current_fs.animate({opacity: 0}, {
					step: function(now, mx) {
						//as the opacity of current_fs reduces to 0 - stored in "now"
						//1. scale previous_fs from 80% to 100%
						scale = 0.8 + (1 - now) * 0.2;
						//2. take current_fs to the right(50%) - from 0%
						left = ((1-now) * 50)+"%";
						//3. increase opacity of previous_fs to 1 as it moves in
						opacity = 1 - now;
						current_fs.css({'left': left});
						previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
					},
					duration: 800,
					complete: function(){
						current_fs.hide();
						animating = false;
					},
					//this comes from the custom easing plugin
					easing: 'easeInOutBack'
				});


			});
				$(".next3").click(function(){
				error3="";
				emailok=true;
				passwordsmatch=true;
				$("#admistakes").html(error3);
				function isValidEmailAddress(emailAddress) {
			    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
			    return pattern.test(emailAddress);
				};
				if ( isValidEmailAddress($("#email").val()) )
				{
					emailok=true;
				} else {
					error3+="Please enter a valid email address.<br>";
				}

					passwordsmatch=true;

				if (emailok && passwordsmatch) {
					if(animating) return false;
					animating = true;
					current_fs = $(this).parent();
					next_fs = $(this).parent().next();

					//activate next step on progressbar using the index of next_fs
					$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

					//show the next fieldset
					next_fs.show();
					//hide the current fieldset with style
					current_fs.animate({opacity: 0}, {
						step: function(now, mx) {
							//as the opacity of current_fs reduces to 0 - stored in "now"
							//1. scale current_fs down to 80%
							scale = 1 - (1 - now) * 0.2;
							//2. bring next_fs from the right(50%)
							left = (now * 50)+"%";
							//3. increase opacity of next_fs to 1 as it moves in
							opacity = 1 - now;
							current_fs.css({'transform': 'scale('+scale+')'});
							next_fs.css({'left': left, 'opacity': opacity});
						},
						duration: 800,
						complete: function(){
							current_fs.hide();
							animating = false;
						},
						//this comes from the custom easing plugin
						easing: 'easeInOutBack'
					});
				} else {
					error3+="<br>";
					$("#admistakes").html(error3);
				}
			});



		</script>




	</main>
	<script>


	// $("#msform").submit(function(){
	// 	alert("Submitted");
	// 	signupfunction();
	// });

	// $("#signupsubmit").click(function(){
	// 	alert("Submitted");
	// 	signupfunction();
	// });






	</script>


</body>
<footer>
<script type="text/javascript" src="./static/js/jquery.js" ></script>

    <!--Script-->
	<script type="text/javascript" src="./static/js/modernizr.js"></script>
  	<script type="text/javascript" src="./static/tester.js"></script> <!-- Modernizr -->

</footer>
</html>
